<a href="https://colab.research.google.com/github/burgosje/Aula03_FAST/blob/main/Aula3_FAST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 03 do FAST Transição do Cesar School

Estruturas de repetição

In [ ]:
contador

Incremento:
cont = cont + 1
cont += 1

Verificar as ocorrências de um determinado valor

In [ ]:
acumulador

armazenar os resultados das operações de valores

soma = soma + valor
soma += valor

While

In [ ]:
while condição:
  comandos se True

In [ ]:
num = 1

while num != 0:
  num = int(input('Digite um numero: '))
  if num > 0:
    print('Maior que zero')
  elif num == 0:
    print('Igual a zero')
  else:
    print('Menor que zero')

Digite um numero: 2
Maior que zero
Digite um numero: -1
Menor que zero
Digite um numero: 0
Igual a zero

In [ ]:
while True:
  num = int(input('Digite um numero: '))
  if num > 0:
    print('Maior que zero')
  elif num == 0:
    print('Igual a zero')
    break
  else:
    print('Menor que zero')

Digite um numero: 4
Maior que zero
Digite um numero: -6
Menor que zero
Digite um numero: 0
Igual a zero

In [ ]:
cont = 1

while cont<=5:
  num = int(input('Digite um numero: '))
  if num > 0:
    print('Maior que zero')
  elif num == 0:
    print('Igual a zero')
  else:
    print('Menor que zero')

  cont += 1

Digite um numero: 3
Maior que zero
Digite um numero: -4
Menor que zero
Digite um numero: 4
Maior que zero
Digite um numero: 2
Maior que zero
Digite um numero: -1
Menor que zero

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
soma = 0

while num1<=num2:
  if num1%2==0:
    soma+=num1
  num1+=1

print(f'A soma foi {soma}')

Digite o primeiro número: 2
Digite o segundo número: 5
A soma foi 6

In [2]:
while True:
  num = int(input('Digite um numero: '))
  if num > 0:
    print('Maior que zero')
  elif num == 0:
    print('Igual a zero')
    break
  else:
    print('Menor que zero')

Digite um numero: 1
Maior que zero
Digite um numero: 0
Igual a zero

In [3]:
soma = 0

while True:
  val = float(input('Digite o valor do produto comprado: R$ '))
  if val > 0:
    soma += val
    val += 1
  if val == 0:
    print('Valor inválido')
    break
  else:
    print('Digite um novo valor')

print(f'A soma foi de {soma}')

Digite o valor do produto comprado: R$ 30
Digite um novo valor
Digite o valor do produto comprado: R$ 15
Digite um novo valor
Digite o valor do produto comprado: R$ 56
Digite um novo valor
Digite o valor do produto comprado: R$ 0
Valor inválido
A soma foi de 101.0

In [ ]:
total = 0.0

while True:
  valor = float(input('Digite o valor da compra: '))

  if valor == 0:
    break
  elif valor < 0:
    print('Valor inválido')

  total += valor

if total > 1000:
  total *= 0.9
  #total = total - (total*0.10)
  #total -= total * 0.10
  print(f'Total a pagar {total:.2f}')

In [ ]:
soma_notas = 0
contar_notas = 0

while True:
  nota = float(input('Digite a nota do aluno: '))

  if nota == -1:
    break

  soma_notas += nota
  contar_notas += 1

media = soma_notas / contar_notas
print(f'A média de {contar_notas} notas foi {media:.2f}')

Digite a nota do aluno: 10
Digite a nota do aluno: 8
Digite a nota do aluno: 6
Digite a nota do aluno: -1
A média de 3 notas foi 8.00

Loop infinito

In [ ]:
i = 1

while True:
  i = i + 1
  print(i)

For

In [ ]:
loop pré-definido

In [ ]:
for variável in range(valores):
  comandos

In [ ]:
range()

especificar um faixa de valores e como será incrementada
iniciar em 0 e incrementada de 1 em 1

In [ ]:
range(<start>,<end>,<step>)

range(10)

range(0, 10)

range(0, 10, 1)

último valor: range - 1

In [ ]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (0, 11, 2):
  print(i)

0
2
4
6
8
10

In [ ]:
for i in range (10, 0, -2):
  print(i)

10
8
6
4
2

In [ ]:
for i in range (10):
  idade = int(input('Digite sua idade: '))

  if idade >= 18:
    print('Maior de idade')
  else:
    print('Menor de idade')

Digite sua idade: 10
Menor de idade
Digite sua idade: 20
Maior de idade
Digite sua idade: 3
Menor de idade
Digite sua idade: 45
Maior de idade
Digite sua idade: 6
Menor de idade
Digite sua idade: 3
Menor de idade
Digite sua idade: 76
Maior de idade
Digite sua idade: 5
Menor de idade
Digite sua idade: 43
Maior de idade
Digite sua idade: 67
Maior de idade

Precisa definir o incremento

In [ ]:
range(10, 2)

range(10, 2)

In [ ]:
range(10, 20, -1)

range(10, 20, -1)

Fim de comentário

In [ ]:
num = int(input('Digite um valor: '))
soma = 0

# i representa os divisores do número

for i in range(1, num):
  if num % i == 0:
    soma += i

if num == soma:
  print('Número perfeito')
else:
  print('Não é número perfeito')

Digite um valor: 10
Não é número perfeito

In [6]:
from datetime import date
atual = date.today().year
totmaior = 0
totmenor = 0
for pess in range (1, 8):
  nasc = int(input('Em que ano a {}ª pessoa nasceu? '.format(pess)))
  idade = atual - nasc
  if idade >= 18:
    totmaior += 1
  else:
    totmenor += 1

print(f'Tivemos {totmaior} pessoas maiores de idade')
print(f'Tivemos {totmenor} pessoas menores de idade')

Em que ano a 1ª pessoa nasceu? 1980
Em que ano a 2ª pessoa nasceu? 1965
Em que ano a 3ª pessoa nasceu? 2021
Em que ano a 4ª pessoa nasceu? 2003
Em que ano a 5ª pessoa nasceu? 2019
Em que ano a 6ª pessoa nasceu? 1999
Em que ano a 7ª pessoa nasceu? 1991
Tivemos 5 pessoas maiores de idade
Tivemos 2 pessoas menores de idade

In [7]:
from datetime import date
atual = date.today().year
totmaior = 0
totmenor = 0
for pessoa in range(1, 6):
  nasc = int(input(f'Em que ano a {pessoa}ª pessoa nasceu? '))
  idade = atual - nasc
  if idade >= 18:
    totmaior += 1
  else:
    totmenor += 1

print(f'Temos {totmaior} pessoas maior de idade')
print(f'Temos {totmenor} pessoas menor de idade')

Em que ano a 1ª pessoa nasceu? 1990
Em que ano a 2ª pessoa nasceu? 1998
Em que ano a 3ª pessoa nasceu? 1945
Em que ano a 4ª pessoa nasceu? 1956
Em que ano a 5ª pessoa nasceu? 1960
Temos 5 pessoas maior de idade
Temos 0 pessoas menor de idade

In [8]:
from datetime import date

#ano_atual = 2023
ano_atual = date.today().year
maior_idade = 0
menor_idade = 0


for i in range(5):
  ano = int(input('Digite o seu ano de nascimento: '))

  if ano_atual - ano >= 18:
    maior_idade += 1
  else:
    menor_idade += 1

print(f'{maior_idade} pessoas são maiores de idade e {menor_idade} são menores de idade')

Digite o seu ano de nascimento: 2022
Digite o seu ano de nascimento: 2017
Digite o seu ano de nascimento: 2015
Digite o seu ano de nascimento: 2003
Digite o seu ano de nascimento: 1999
2 pessoas são maiores de idade e 3 são menores de idade

In [9]:
#Faça um programa que peça 10 números inteiros, calcule e mostre a quantidade de
#números pares e a quantidade de números ímpares.

pares = 0
impares = 0

for i in range(10):
  numero = int(input(f'Digite o {i+1}º número: '))

  if numero % 2 == 0:
    pares += 1
  else:
    impares += 1

print(f'Quantidade de números pares: {pares}')
print(f'Quantidade de números impares: {impares}')

Digite o 1º número: 3
Digite o 2º número: 6
Digite o 3º número: 5
Digite o 4º número: 2
Digite o 5º número: 9
Digite o 6º número: 1
Digite o 7º número: 0
Digite o 8º número: 7
Digite o 9º número: 4
Digite o 10º número: 17
Quantidade de números pares: 4
Quantidade de números impares: 6

In [12]:
#Foi realizada uma pesquisa de algumas características físicas de 5 alunos de um
#curso, a qual coletou os seguintes dados referentes a cada pessoa para serem
#analisados:
#sexo (masculino e feminino)
#cor dos olhos (azuis, verdes ou castanhos)
#cor dos cabelos (louros, castanhos, pretos)
#idade
#
#Faça um algoritmo que determine e escreva:
#a) a quantidade de pessoas do sexo feminino cuja idade está entre 18 e 35;
#b) a quantidade de pessoas que têm olhos castanhos e cabelos pretos.

rangeidade = 0
sexo_f = 0
oc_cp = 0

for i in range(5):
  sexo = input("Digite seu sexo:\n(F) para Feminino ou (M) para Masculino ")
  olhos = input("Digite a cor dos seus olhos:\n(A) Azuis, (V) Verdes ou (C) Castanhos ")
  cabelo = input("Digite a cor dos seus cabelos:\n(L) Louros, (C) Castanhos ou (P) Pretos " )
  idade = int(input("Digite sua idade:\n"))

  if sexo == "Ff" and 18 <= idade >= 35:
    rangeidade += 1
  if olhos == "Cc" and cabelo == "Pp":
    oc_cp += 1

print(f"A quantidade de pessoas do sexo feminino com idade entre 18 e 35 anos é: {rangeidade}")
print(f"A quantidade de pessoas que têm olhos castanhos e cabelos pretos é: {oc_cp}")

Digite seu sexo:
(F) para Feminino ou (M) para Masculino f
Digite a cor dos seus olhos:
(A) Azuis, (V) Verdes ou (C) Castanhos a
Digite a cor dos seus cabelos:
(L) Louros, (C) Castanhos ou (P) Pretos l
Digite sua idade:
32
Digite seu sexo:
(F) para Feminino ou (M) para Masculino m
Digite a cor dos seus olhos:
(A) Azuis, (V) Verdes ou (C) Castanhos v
Digite a cor dos seus cabelos:
(L) Louros, (C) Castanhos ou (P) Pretos p
Digite sua idade:
13
Digite seu sexo:
(F) para Feminino ou (M) para Masculino m
Digite a cor dos seus olhos:
(A) Azuis, (V) Verdes ou (C) Castanhos v
Digite a cor dos seus cabelos:
(L) Louros, (C) Castanhos ou (P) Pretos c
Digite sua idade:
25
Digite seu sexo:
(F) para Feminino ou (M) para Masculino f
Digite a cor dos seus olhos:
(A) Azuis, (V) Verdes ou (C) Castanhos c
Digite a cor dos seus cabelos:
(L) Louros, (C) Castanhos ou (P) Pretos p
Digite sua idade:
20
Digite seu sexo:
(F) para Feminino ou (M) para Masculino f
Digite a cor dos seus olhos:
(A) Azuis, (V) Verdes ou (C) Castanhos v
Digite a cor dos seus cabelos:
(L) Louros, (C) Castanhos ou (P) Pretos p
Digite sua idade:
43
A quantidade de pessoas do sexo feminino com idade entre 18 e 35 anos é: 0
A quantidade de pessoas que têm olhos castanhos e cabelos pretos é: 0

In [13]:
#Um petshop atende 5 cachorros por tarde. Faça um programa que solicite ao usuário
#o código do serviço efetuado: (1 - banho; 2 - tosa; 3 - banho e tosa; 4- outros).
#Por fim, exiba a quantidade de solicitações para cada um deles.

serv1 = 0
serv2 = 0
serv3 = 0
serv4 = 0

for i in range(5):
  servico = int(input('Selecione qual serviço você quer:\n(1) Banho\n(2) Tosa\n(3) Banho e tosa\n(4) Outros\n'))

  if servico == 1:
    serv1 += 1
  elif servico == 2:
    serv2 += 1
  elif servico == 3:
    serv3 += 1
  elif servico == 4:
    serv4 += 1
  else:
    print('Código inválido')
    servico = int(input('Selecione o código do serviço:\n(1) Banho\n(2) Tosa\n(3) Banho e tosa\n(4) Outros\n'))

  print(f'Relatório de serviços:\n(1) Banho: {serv1}\n(2) Tosa: {serv2}\n(3) Banho e tosa: {serv3}\n(4) Outros: {serv4}')

Selecione qual serviço você quer:
(1) Banho
(2) Tosa
(3) Banho e tosa
(4) Outros
1
Relatório de serviços:
(1) Banho: 1
(2) Tosa: 0
(3) Banho e tosa: 0
(4) Outros: 0
Selecione qual serviço você quer:
(1) Banho
(2) Tosa
(3) Banho e tosa
(4) Outros
2
Relatório de serviços:
(1) Banho: 1
(2) Tosa: 1
(3) Banho e tosa: 0
(4) Outros: 0
Selecione qual serviço você quer:
(1) Banho
(2) Tosa
(3) Banho e tosa
(4) Outros
3
Relatório de serviços:
(1) Banho: 1
(2) Tosa: 1
(3) Banho e tosa: 1
(4) Outros: 0
Selecione qual serviço você quer:
(1) Banho
(2) Tosa
(3) Banho e tosa
(4) Outros
4
Relatório de serviços:
(1) Banho: 1
(2) Tosa: 1
(3) Banho e tosa: 1
(4) Outros: 1
Selecione qual serviço você quer:
(1) Banho
(2) Tosa
(3) Banho e tosa
(4) Outros
3
Relatório de serviços:
(1) Banho: 1
(2) Tosa: 1
(3) Banho e tosa: 2
(4) Outros: 1

In [14]:
#Desenvolva um programa utilizando o para que faça a tabuada de um número
#inteiro que será digitado pelo usuário. Mas a tabuada não deve necessariamente
#iniciar em 1 e terminar em 10, o valor inicial e final devem ser informados pelo
#usuário.
#
#Segue um exemplo: Montar a tabuada do: 5
#Começar por: 4
#Terminar em: 7
#
#Saída de dados:
#5 x 4 = 20
#5 x 5 = 25
#5 x 6 = 30
#5 x 7 = 35

num = int(input("Montar a tabuada de: "))

comeco = int(input("Calcular de: "))
fim = int(input("Calcula até: "))

for i in range(comeco, fim + 1):
  resultado = num * i
  print(f'{num} x {i} = {resultado}')

Montar a tabuada de: 2
Calcular de: 6
Calcula até: 9
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [15]:
#Crie um programa que leia vários números digitados pelo usuário e mostre no final
#o somatório entre eles. Obs: O programa será interrompido quando o número 1111 for
#digitado.

soma = 0

while True:
  numero = int(input("Digite um número para ser somado.\nCaso você digite 1111, o programa será interrompido "))

  if numero == 1111:
    break

  soma += numero

print(f"A soma dos números é: {soma}")

Digite um número para ser somado.
Caso você digite 1111, o programa será interrompido 45
Digite um número para ser somado.
Caso você digite 1111, o programa será interrompido 67
Digite um número para ser somado.
Caso você digite 1111, o programa será interrompido 87
Digite um número para ser somado.
Caso você digite 1111, o programa será interrompido 10
Digite um número para ser somado.
Caso você digite 1111, o programa será interrompido 1111
A soma dos números é: 209

In [17]:
#Um número é considerado triangular se ele é produto de três números naturais
#consecutivos. Por exemplo: 120 é triangular, pois 4*5*6 = 120. O número 2730 é
#triangular, pois 13*14*15 = 2730. Após o usuário digitar um número natural
#(inteiro não-negativo), verifique se ele é triangular ou não.

#Como dica para resolver a questão você usa o número digitado como o limite do for e dentro do for você pode usar uma variável para somar o i e verificar se é igual ao número
#digitado.  Como o exemplo: 120 é triangular, pois 4*5*6 = 120.
#Observa que um número triangular possui uma sequência.

numero = int(input("Digite um número natural: "))
produto = 1
valor_atual = 1

while produto < numero:
  valor_atual +=1
  produto *= valor_atual

if produto == numero:
  print(f"O {numero} é um número triangular")
else:
  print(f"O {numero} não é triangular")

Digite um número natural: 120
O 120 é um número triangular

In [18]:
#Peça ao usuário que informe um número, logo após, calcula e exibe o fatorial do
#número digitado. O fatorial de um número é calculado multiplicando todos os
#valores inteiros entre o próprio número e 1.
#Exemplo: 5! = 5 x 4 x 3 x 2 x 1 = 120

n = int(input("Digite um número para calcular seu fatorial: "))
c = n
f = 1

print(f"Calculando {n}!")

while c > 0:
  print(f"{c}", end = " ")
  print("x" if c > 1 else " = ", end = " ")
  f *= c
  c -= 1

print(f"{f}")

Digite um número para calcular seu fatorial: 5
Calculando 5!
5 x 4 x 3 x 2 x 1  =  120